In [ ]:
import geopandas as gpd
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

## Cleaning certain rows

In [ ]:
all_pge_with_nrel = gpd.read_file('cleaned_data/all-pge-with-nrel/pge-energy-consumption-with-nrel-solar_2013-2019_136968x35.shp')

In [ ]:
all_pge_with_nrel.head()

,zip,city,state,latitude_x,longitude_,timezone,dst,ZIPCODE,DATE,MONTH,...,GHI,DHI,DNI,Wind Speed,Temperatur,Solar Zeni,zipcode_1,latitude_y,longitud_1,geometry
0,95717,Gold Run,CA,39.177026,-120.8451,-8,1,95717,2013-01-01,1,...,107.88575268817205,29.571236559139784,211.56182795698925,0.3540322580645159,2.3481182795698925,105.82493279569903,95717.0,39.177026,-120.8451,POINT (-120.84510 39.17703)
1,95717,Gold Run,CA,39.177026,-120.8451,-8,1,95717,2013-02-01,2,...,158.59375,36.48511904761905,269.0595238095238,0.40148809523809587,4.525297619047619,99.71912202380952,95717.0,39.177026,-120.8451,POINT (-120.84510 39.17703)
2,95717,Gold Run,CA,39.177026,-120.8451,-8,1,95717,2013-03-01,3,...,183.19892473118279,68.31989247311827,206.93548387096774,0.3981182795698933,8.529569892473118,91.12526881720433,95717.0,39.177026,-120.8451,POINT (-120.84510 39.17703)
3,95717,Gold Run,CA,39.177026,-120.8451,-8,1,95717,2013-04-01,4,...,269.525,66.2375,318.2472222222222,0.40958333333333385,11.322222222222223,82.1030138888889,95717.0,39.177026,-120.8451,POINT (-120.84510 39.17703)
4,95717,Gold Run,CA,39.177026,-120.8451,-8,1,95717,2013-05-01,5,...,299.9287634408602,71.88306451612904,342.23118279569894,0.4310483870967741,14.850806451612904,75.24653225806456,95717.0,39.177026,-120.8451,POINT (-120.84510 39.17703)

In [ ]:
k = np.where(all_pge_with_nrel['zip'] == all_pge_with_nrel['ZIPCODE'], 'yes', 'no')

In [ ]:
for i in range(len(k)):
    if k[i]=='no':
        print(i)
# all_pge_with_nrel[['zip', 'ZIPCODE']]
# type(all_pge_with_nrel['zip'][0]), type(all_pge_with_nrel['ZIPCODE'][0]),
# k

In [ ]:
all_pge_with_nrel.columns

Index(['zip', 'city', 'state', 'latitude_x', 'longitude_', 'timezone', 'dst',
       'ZIPCODE', 'DATE', 'MONTH', 'YEAR', 'DAY', 'CUSTOMERCL', 'COMBINED',
       'TOTALCUSTO', 'TOTALKWH', 'AVERAGEKWH', 'TOTALTHERM', 'AVERAGETHE',
       'Calculated', 'Calculat_1', 'AVGKWH Dif', 'AVGTHERMS', 'Month_1',
       'Year_1', 'GHI', 'DHI', 'DNI', 'Wind Speed', 'Temperatur', 'Solar Zeni',
       'zipcode_1', 'latitude_y', 'longitud_1', 'geometry'],
      dtype='object')

In [ ]:
all_pge_with_nrel[['TOTALCUSTO','TOTALKWH', 'AVERAGEKWH','TOTALTHERM','AVERAGETHE',
       'Calculated', 'Calculat_1', 'AVGKWH Dif', 'AVGTHERMS']]

,TOTALCUSTO,TOTALKWH,AVERAGEKWH,TOTALTHERM,AVERAGETHE,Calculated,Calculat_1,AVGKWH Dif,AVGTHERMS
0,0,0,0,0,0,0.00,0.000000,0.00,0.000000
1,0,0,0,0,0,0.00,0.000000,0.00,0.000000
2,0,0,0,0,0,0.00,0.000000,0.00,0.000000
3,0,0,0,0,0,0.00,0.000000,0.00,0.000000
4,100,47657,477,0,0,476.57,0.000000,-0.43,0.000000
...,...,...,...,...,...,...,...,...,...
136963,2459,0,0,22624,9,0.00,9.200488,0.00,0.200488
136964,2446,0,0,23862,10,0.00,9.755519,0.00,-0.244481
136965,2447,0,0,35480,14,0.00,14.499387,0.00,0.499387
136966,2441,0,0,67102,27,0.00,27.489553,0.00,0.489553
136967,2428,0,0,92436,38,0.00,38.070840,0.00,0.070840

In [ ]:
cols_to_drop = ['latitude_y', 'longitud_1','ZIPCODE', 'Calculated', 'Calculat_1', 'AVGKWH Dif', 'AVGTHERMS', 'Month_1', 'Year_1', 'zipcode_1']
rename_mapper = {
    'latitude_x': 'latitude', 
    'longitude_': 'longitude', 
    'AVERAGETHE': 'AVERAGETHERM',
    'Temperatur': 'Temperature', 
    'Solar Zeni': 'Solar Zenith Angle'
    }
all_pge_with_nrel = all_pge_with_nrel.drop(cols_to_drop, axis=1).rename(rename_mapper,axis=1)

In [ ]:
all_pge_with_nrel.columns

Index(['zip', 'city', 'state', 'latitude', 'longitude', 'timezone', 'dst',
       'DATE', 'MONTH', 'YEAR', 'DAY', 'CUSTOMERCL', 'COMBINED', 'TOTALCUSTO',
       'TOTALKWH', 'AVERAGEKWH', 'TOTALTHERM', 'AVERAGETHERM', 'GHI', 'DHI',
       'DNI', 'Wind Speed', 'Temperature', 'Solar Zenith Angle', 'geometry'],
      dtype='object')

In [ ]:
all_pge_with_nrel.to_file('cleaned_data/all-pge-with-nrel/cleand_pge-energy-consumption-with-nrel-solar_2013-2019_136968x35.shp')

## Adding standardizations

In [ ]:
scaler = StandardScaler()

In [ ]:
cols_to_standarize = ['TOTALCUSTO',
       'TOTALKWH', 'AVERAGEKWH', 'TOTALTHERM', 'AVERAGETHERM', 'GHI', 'DHI',
       'DNI', 'Wind Speed', 'Temperature', 'Solar Zenith Angle', ]
all_pge_with_nrel[cols_to_standarize]

,TOTALCUSTO,TOTALKWH,AVERAGEKWH,TOTALTHERM,AVERAGETHERM,GHI,DHI,DNI,Wind Speed,Temperature,Solar Zenith Angle
0,0,0,0,0,0,107.88575268817205,29.571236559139784,211.56182795698925,0.3540322580645159,2.3481182795698925,105.82493279569903
1,0,0,0,0,0,158.59375,36.48511904761905,269.0595238095238,0.40148809523809587,4.525297619047619,99.71912202380952
2,0,0,0,0,0,183.19892473118279,68.31989247311827,206.93548387096774,0.3981182795698933,8.529569892473118,91.12526881720433
3,0,0,0,0,0,269.525,66.2375,318.2472222222222,0.40958333333333385,11.322222222222223,82.1030138888889
4,100,47657,477,0,0,299.9287634408602,71.88306451612904,342.23118279569894,0.4310483870967741,14.850806451612904,75.24653225806456
...,...,...,...,...,...,...,...,...,...,...,...
136963,2459,0,0,22624,9,311.26344086021504,51.60349462365591,395.27284946236557,2.2737903225806466,26.286290322580637,79.54961021505376
136964,2446,0,0,23862,10,244.57083333333333,48.915277777777774,335.4347222222222,2.023055555555555,23.207916666666673,87.9082916666665
136965,2447,0,0,35480,14,193.0188172043011,39.31989247311828,304.5766129032258,1.8063172043010742,18.629838709677415,96.89096774193553
136966,2441,0,0,67102,27,125.96388888888889,34.84583333333333,219.58333333333334,1.545833333333334,14.595000000000027,104.16968055555537
136967,2428,0,0,92436,38,73.79032258064517,32.318548387096776,113.91532258064517,2.115053763440863,9.82096774193547,107.50063172043019

In [ ]:
scaler.fit(all_pge_with_nrel[cols_to_standarize])

/Library/Python/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [ ]:
transformed = scaler.transform(all_pge_with_nrel[cols_to_standarize])

/Library/Python/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

In [ ]:
transformd_df = pd.DataFrame(transformed, columns=cols_to_standarize)

In [ ]:
transformd_df.head()

,TOTALCUSTO,TOTALKWH,AVERAGEKWH,TOTALTHERM,AVERAGETHERM,GHI,DHI,DNI,Wind Speed,Temperature,Solar Zenith Angle
0,-0.947875,-0.541630,-0.590525,-0.46156,-0.348278,-1.198043,-1.373894,-0.709183,-1.894812,-2.255195,1.283431
1,-0.947875,-0.541630,-0.590525,-0.46156,-0.348278,-0.621567,-0.990437,-0.041747,-1.837832,-1.881118,0.787489
2,-0.947875,-0.541630,-0.590525,-0.46156,-0.348278,-0.341841,0.775179,-0.762886,-1.841878,-1.193114,0.089457
3,-0.947875,-0.541630,-0.590525,-0.46156,-0.348278,0.639561,0.659686,0.529226,-1.828112,-0.713287,-0.643372
4,-0.931472,-0.525526,0.278279,-0.46156,-0.348278,0.985208,0.972799,0.807632,-1.802339,-0.107015,-1.200288

In [ ]:
full_with_std = pd.merge(left=all_pge_with_nrel, right=transformd_df, left_index=True, right_index=True, how='inner', suffixes=('_raw', '_std'))

In [ ]:
full_with_std.columns

Index(['zip', 'city', 'state', 'latitude', 'longitude', 'timezone', 'dst',
       'DATE', 'MONTH', 'YEAR', 'DAY', 'CUSTOMERCL', 'COMBINED',
       'TOTALCUSTO_raw', 'TOTALKWH_raw', 'AVERAGEKWH_raw', 'TOTALTHERM_raw',
       'AVERAGETHERM_raw', 'GHI_raw', 'DHI_raw', 'DNI_raw', 'Wind Speed_raw',
       'Temperature_raw', 'Solar Zenith Angle_raw', 'geometry',
       'TOTALCUSTO_std', 'TOTALKWH_std', 'AVERAGEKWH_std', 'TOTALTHERM_std',
       'AVERAGETHERM_std', 'GHI_std', 'DHI_std', 'DNI_std', 'Wind Speed_std',
       'Temperature_std', 'Solar Zenith Angle_std'],
      dtype='object')

In [ ]:
full_with_std.shape

(136968, 36)

In [ ]:
full_with_std.to_file('cleaned_data/all-pge-with-nrel/transformed_pge-energy-consumption-with-nrel-solar_2013-2019_136968x35.shp')

## Finding closest county centroid

In [ ]:
ca_countise_fn = "data/CA_Counties/CA_Counties_TIGER2016.shp"
ca_counties = gpd.read_file(ca_countise_fn)

In [ ]:
ca_counties['Centroid_Latitude'] = pd.to_numeric(ca_counties['INTPTLAT'].apply(lambda s: s[1:]))
ca_counties['Centroid_Longitude'] = pd.to_numeric(ca_counties['INTPTLON'])

In [ ]:
ca_counties.head()

,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,CSAFP,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,Centroid_Latitude,Centroid_Longitude
0,06,091,00277310,06091,Sierra,Sierra County,06,H1,G4020,None,None,None,A,2468694587,23299110,+39.5769252,-120.5219926,"POLYGON ((-13431319.751 4821511.426, -13431312...",39.576925,-120.521993
1,06,067,00277298,06067,Sacramento,Sacramento County,06,H1,G4020,472,40900,None,A,2499183617,76073827,+38.4500114,-121.3404409,"POLYGON ((-13490651.476 4680831.603, -13490511...",38.450011,-121.340441
2,06,083,00277306,06083,Santa Barbara,Santa Barbara County,06,H1,G4020,None,42200,None,A,7084000598,2729814515,+34.5370572,-120.0399729,"MULTIPOLYGON (((-13423116.772 4042044.149, -13...",34.537057,-120.039973
3,06,009,01675885,06009,Calaveras,Calaveras County,06,H1,G4020,None,None,None,A,2641820834,43806026,+38.1838996,-120.5614415,"POLYGON ((-13428575.483 4627725.228, -13428534...",38.183900,-120.561442
4,06,111,00277320,06111,Ventura,Ventura County,06,H1,G4020,348,37100,None,A,4773390489,945942791,+34.3587415,-119.1331432,"MULTIPOLYGON (((-13317853.594 3931602.414, -13...",34.358742,-119.133143

In [ ]:
ca_counties[ca_counties['NAME']=='San Francisco']

,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,CSAFP,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,Centroid_Latitude,Centroid_Longitude
10,06,075,00277302,06075,San Francisco,San Francisco County,06,H6,G4020,488,41860,41884,C,121455687,479136515,+37.7272391,-123.0322294,"MULTIPOLYGON (((-13647797.317 4551561.433, -13...",37.727239,-123.032229

In [ ]:
sf_lat = 37.756051
sf_long=-122.442409
ca_counties["Centroid_Latitude"] = ca_counties["Centroid_Latitude"].replace({37.727239: sf_lat})
ca_counties["Centroid_Longitude"] = ca_counties["Centroid_Longitude"].replace({-123.032229: sf_long})

In [ ]:
ca_counties[ca_counties['NAME']=='San Francisco']

,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,LSAD,CLASSFP,MTFCC,CSAFP,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,Centroid_Latitude,Centroid_Longitude
10,06,075,00277302,06075,San Francisco,San Francisco County,06,H6,G4020,488,41860,41884,C,121455687,479136515,+37.7272391,-123.0322294,"MULTIPOLYGON (((-13647797.317 4551561.433, -13...",37.727239,-123.032229

In [ ]:
from haversine import haversine, Unit

def find_distance(x, y, lat, long, unit=Unit.MILES):  
    '''Returns a one-dimensional array containing the distances between the point (a,b) and a series of 
    points whose x-coordinates are represented as the one-dimensional array x, and whose y-coordinates 
    are represented by the one-dimensional array y'''
    ## From ER 131 Fa 2020 hw5
    
#     return [np.sqrt((lat-a2)**2 +  (long-b2)**2) for a2, b2 in zip(x,y)]
    return [haversine((lat,long), (lat2, long2), unit=unit) for lat2, long2 in zip(x,y)]

## Longitude is horizontal; latitude in vertical
def find_closest_county(latitude, longitude):
    distances = find_distance(counties_wgs84['Centroid_Latitude'], counties_wgs84['Centroid_Longitude'], latitude, longitude)
    min_iloc = np.argmin(distances)
    return ca_counties.iloc[min_iloc]['NAMELSAD']

In [ ]:
find_closest_county(37.765817, -122.422290)

'San Mateo County'

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=c2f0e727-e6a4-4b2a-b180-a91c3a609ecf' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>